* {
  box-sizing: content-box;
  /* 禁止选中 */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

html, body {
  margin: 0;
  padding: 0;
}

canvas {
  width: 1000px;
  height: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: blue 1px solid;
}
